In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from ydata_profiling import ProfileReport

In [3]:
data2 = sns.load_dataset('penguins')
data2.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [4]:
report = ProfileReport(data2, title='Penguins Research')

In [6]:
report.to_file('penguins.html')

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]